<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <legend><h1>creat post</h1></legend>
        <div class="content">

                <table>
                    <form action="/creatpost"  method="post">

                    <tr>
                        <td>Content :</td>
                        <td><input type="text" name="content" id="content"></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Add New Post">
                        </td>
                    </tr>
                </form>

                </table>


        </div>
    </fieldset>
<fieldset>
</body>
</html>
