<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create Post</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="background"></div> <!-- Blurred background -->

  <div class="content">
    <div class="create-post-container">
      <h2>Create a New Post</h2>
      <center>
        <form class="create-post-form" action="/creatpost" method="post">
          
          <div class="category">
            <input type="checkbox" name="status" value="sport" id="sport">
            <label for="sport">Sport</label>
            <br>

            <input type="checkbox" name="status" value="academy" id="academy">
            <label for="academy">Academy</label>
            <br>
            <input type="checkbox" name="status" value="developer" id="developer">
            <label for="developer">Developer</label>
          </div>

          <label for="content">Content:</label>
          <textarea id="content" name="content" rows="6" required></textarea>

          <button type="submit">Submit</button>
        </form>
      </center>
    </div>
  </div>