<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/loginStyle.css">
</head>
<body>
<div class="main">
    <div class="container">
        <form action="/login" method="POST" class="login-form">
            <h1>Log In</h1>
            <div class="input-group">
                <label for="email">Email OR Username</label>
                <input type="text" id="email" name="email" >
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" >
            </div>
            <input type="submit" name="login" value="Login">
            <div class="extra-options">
                <a href="/">Show page Home</a>
                <span>or</span>
                <a href="/register">Sign Up</a>

                <div>
                    {{ if .Error }}
                    <p>{{ .Error }}</p>
                {{ end }}
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>
