


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="main">
    <div class="container">
       

        <form action="/register" method="POST" class="login-form">
            <h1>Forum Sign Up</h1>
            
            <div class="input-group">

                <label for="username">Username</label>
                <input type="text" id="username" name="username" >
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" >
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" >
            </div>
            <input type="submit" name="login" value="Login">
            <div class="extra-options">
                <a href="/">>>></a>
                <span>or</span>
                <a href="/login">Log_in</a>

                <div id="error">
                    <p style="color:{{.Color}};">{{.Error}}</p>
                </div>
                
                

                

               
            </div>
        </form>
       
    </div>
    
</div>

</body>
</html>
